*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.history-container{
    text-align: center;
}

.history-box{
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 auto;
    width: min(600px,90vw);
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap:10px;
    padding-top: 10px;
}


button{
    padding: 20px;
    font-size: 1rem;
    margin: 0 10px;
    width: 100px;
}

button:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}
